:root {
  --background-color: white;
  --primary-color: black;
  --secondary-color: rgb(68, 68, 68);
  --tertiary-color: rgb(153, 153, 153);
  --quaternary-color: rgb(248, 248, 248);
  --shade-color: rgb(190, 190, 190);
  --highlight-color: rgba(222, 241, 255, 0.7);
  --highlight-active-color: rgba(222, 241, 255, 0.5);
  --highlight-border-color: rgb(85, 184, 254);
  --highlight-heavy-color: rgb(1, 129, 220);
  --highlight-mono-color: rgba(237, 237, 237, 0.7);
  --highlight-active-mono-color: rgba(237, 237, 237, 0.5);
  --highlight-heavy-mono-color: rgb(101, 101, 101);
  --highlight-chart-hover-color: rgb(100, 183, 245);
  --toolbar-shadow-color: rgba(0, 0, 0, 0.15);
  --border-trans-color: rgba(255, 255, 255, 0.1);
  --grid-block-color: black;
  --grid-border-color: black;
  --grid-sat-color: rgb(0, 255, 0);
  --grid-unsat-color: rgb(255, 51, 51);
  --chart-label-zero-color: rgb(145, 17, 10);
  --font-family-sans: -apple-system, BlinkMacSystemFont, "Helvetica", "Roboto", "Droid Sans", "Arial", sans-serif;
  --font-family-mono: "SFMono-Regular", "Consolas", "DejaVuSansMono", "Menlo", monospace;
}

[data-theme="dark"] {
  --background-color: rgb(40, 44, 52);
  --primary-color: rgba(171, 178, 191);
  --secondary-color: rgb(157, 165, 179);
  --tertiary-color: rgb(116, 123, 133);
  --quaternary-color: rgb(27, 29, 35);
  --shade-color: rgb(96, 103, 116);
  --highlight-color: rgba(89, 147, 255, 0.6);
  --highlight-active-color: rgba(90, 135, 220, 0.4);
  --highlight-border-color: rgb(61, 61, 227);
  --highlight-heavy-color: rgb(50, 50, 255);
  --highlight-mono-color: rgba(62, 68, 80, 0.7);
  --highlight-active-mono-color: rgba(62, 68, 80, 0.5);
  --highlight-heavy-mono-color: rgb(58, 63, 74);
  --highlight-chart-hover-color: rgb(22, 70, 158);
  --toolbar-shadow-color: rgba(0, 0, 0, 0.15);
  --border-trans-color: rgba(255, 255, 255, 0.1);
  --grid-block-color: rgb(27, 29, 35);
  --grid-border-color: rgb(27, 29, 35);
}

body {
  font-family: var(--font-family-sans);
  /* width: auto; */
  margin: 5px;
  background: var(--background-color);
  color: var(--primary-color);
}

h1 {
  font-size: 20pt;
  font-weight: 300;
  color: var(--tertiary-color);
}

#credits {
  font-size: 9.5pt;
  font-weight: 400;
  color: var(--tertiary-color);
  margin-top: 20;
  text-align: center;
}

#credits a {
  font-weight: 700;
  color: var(--tertiary-color);
  text-decoration: none;
}

#grid {
  table-layout: fixed;
  border: 2px solid var(--grid-border-color);
  border-collapse: collapse;
  /*border-spacing: 0;*/
  text-align: center;
  font-size: 15pt;
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#grid:focus {
  outline: 2px solid var(--highlight-border-color);
}

#grid.sat:focus {
  /*outline: 2px solid var(--grid-sat-color);*/
}

#grid.unsat:focus {
  outline: 3px solid var(--grid-unsat-color);
}

/* #grid td {
  width: 35px;
  height: 36px;
  position: relative;
  border-left: 1px solid var(--grid-border-color);
  border-top: 1px solid var(--grid-border-color);
  padding-top: 6px;
} */

#grid td.active {
  box-shadow: 0 0 12px 0px var(--highlight-heavy-mono-color);
  -moz-box-shadow: 0 0 12px 0px var(--highlight-heavy-mono-color);
  -webkit-box-shadow: 0 0 12px 0px var(--highlight-heavy-mono-color);
  opacity: 0.8;
  font-weight: 400;
  z-index: 300;
  background: var(--highlight-active-mono-color);
}

#grid:focus td.active {
  box-shadow: 0 0 12px 0px var(--highlight-heavy-color);
  -moz-box-shadow: 0 0 12px 0px var(--highlight-heavy-color);
  -webkit-box-shadow: 0 0 12px 0px var(--highlight-heavy-color);
  border-style: double;
  border: 1px solid var(--highlight-border-color);
  background: var(--highlight-active-color);
}

#grid:focus td.active .circle {
  border: 1px solid var(--highlight-border-color);
}

#grid td.pencil .fill {
  /*opacity: 0.3;*/
  color: var(--tertiary-color);
}

#grid td.block {
  background-color: var(--grid-block-color) !important;
  color: var(--grid-block-color);
}

#grid td.highlight {
  background-color: var(--highlight-mono-color);
  font-weight: 400;
}

#grid:focus td.highlight {
  border-style: double;
  border: 1px solid var(--highlight-border-color);
  background-color: var(--highlight-color);
}

#grid:focus td.highlight .circle {
  border: 1px solid var(--highlight-border-color);
}

#grid td.lowlight {
  /*background-color: var(--quaternary-color);*/
}

#grid:focus td.lowlight {
  /*background-color: var(--quaternary-color);*/
}

#grid td.highlight-chart-hover {
  border: 1px solid var(--highlight-heavy-color) !important;
  background: var(--highlight-chart-hover-color) !important;
}

#header {
  /*width: 885px;*/
  margin-left: 38px;
  min-height: 36px;
}

#header h1 {
  margin: 0;
  margin-bottom: 2px;
}

.hidden {
  display: none;
}

kbd {
  text-align: center;
  font-family: inherit;
  font-size: 9pt;
  font-weight: 600;
  color: var(--quaternary-color);
  border: 1px solid var(--tertiary-color);
  border-radius: 2px;
  padding: 2px 8px;
  margin: -2px 2px;
}

/* #grid-container {
  width: auto;
  float: left;
  margin-bottom: 10px;
} */

.notification {
  font-size: 9.5pt;
  line-height: 11pt;
  padding: 12px;
  border-radius: 6px;
  background-color: var(--secondary-color);
  color: var(--quaternary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notification h3 {
  font-size: 9pt;
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: var(--tertiary-color);
  text-transform: uppercase;
  text-align: center;
}

.notification table {
  border-collapse: collapse;
}

.notification tr {
  padding: 0;
  margin: 0;
  color: var(--quaternary-color);
  font-size: 9.5pt;
}

.notification td {
  padding: 8px 5px 8px 0;
  border-bottom: 1px solid var(--border-trans-color);
}

/*.notification:after {
  content: '\f00d';
  margin-left: 10px;
  font-family: FontAwesome;
  font-weight: 600;
  color: var(--tertiary-color);
  cursor: pointer;
}*/

.notification:hover:after {
  color: var(--highlight-color);
  content: '\f00d';
  /* float: right; */
  position: absolute;
  top: 10px;
  right: 10px;
  /* margin-left: 10px; */

  font-family: FontAwesome;
  font-weight: 600;
  cursor: pointer;
}

#puzzle-author {
  margin: 0;
  width: auto;
}

#puzzle-title {
  margin: 0;
  width: auto;
  max-width: 400px;
  overflow: hidden;
  font-weight: 500;
  color: var(--primary-color);
}

#sidebar {
  width: 220px;
  height: 550px;
  float: left;
  margin-left: 8px;
}

#sidebar .current-word {
  font-family: var(--font-family-mono);
  margin: 0;
  /* font-size: 21pt; */
  font-weight: 300;
}

#sidebar .direction-heading {
  padding: 3px 0 2px 0;
  border-top: 1px solid var(--background-color);
  border-bottom: 1px solid var(--background-color);

}

#sidebar .direction-heading.highlight {
  border-top: 1px solid var(--highlight-border-color);
  border-bottom: 1px solid var(--highlight-border-color);
}

#sidebar ul.matches {
  font-family: var(--font-family-mono);
  margin: 0;
  height: 76%;
  /*width: 160px;*/
  list-style-type: none;
  padding: 0;
  color: var(--tertiary-color);
  font-weight: 400;
  overflow-x: auto;
  overflow-y: auto;
}

#sidebar ul.matches li {
  margin: 2px 0;
}

#sidebar ul.matches li:hover {
  background: var(--quaternary-color); /* For browsers that do not support gradients */
  color: var(--primary-color);
  font-weight: 500;
}

#toolbar {
  clear: both;
  width: 32px;
  margin: 0;
  padding: 0;
  margin-right: 6px;
  float: left;
}

#toolbar .section {
  cursor: pointer;
}

#toolbar button {
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 4px;
  background-color: var(--background-color);
  border: none;
  color: var(--secondary-color);
  text-align: center;
  font-size: 14pt;
  padding: 6px 4px;
  cursor: pointer;
  /*transition: all 0.1s;*/
  /* margin: 2px 0; */
}

#toolbar button:focus {
  outline: none;
}

#toolbar button.button-on {
  color: var(--highlight-heavy-color);
}

#toolbar button.default {
  /*border: 1px solid var(--tertiary-color);*/
  color: var(--highlight-heavy-color);
}

#toolbar button.default:after {
  color: var(--highlight-heavy-color);
  font-weight: 600;
}

#toolbar button:hover {
  background-color: var(--highlight-color);
}

#toolbar button:hover:after {
  content: attr(data-tooltip);
  margin: 4px 0;
  padding: 4px;
  border-radius: 2px;
  background: var(--secondary-color);
  color: var(--background-color);
  font-size: 9pt;
  /*font-weight: 400;*/
  position: absolute;
  left: 110%;
  top: 0;
  white-space: nowrap;
  z-index: 20;
}

#toolbar button.disabled {
  color: var(--tertiary-color);
}
#toolbar button.disabled:hover {
  background-color: var(--background-color);
}

#toolbar .divider {
  width: 32px;
  border-bottom: 1px solid var(--tertiary-color);
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
  padding-bottom: 2px;
}

#toolbar .menu {
  color: var(--secondary-color);
  margin: -6px;
  padding: 6px;
  min-width: 200px;
  background: var(--background-color);
  position: absolute;
  left: 45px;
  z-index: 400;
  border-top: 3px solid var(--secondary-color);
  box-shadow: 3px 3px 6px 0px var(--toolbar-shadow-color);
  -moz-box-shadow: 3px 3px 6px 0px var(--toolbar-shadow-color);
  -webkit-box-shadow: 3px 3px 6px 0px var(--toolbar-shadow-color);
}

#toolbar #toggle-special-menu {
  min-width: 130px;
}

#toolbar .menu h4 {
  margin: 0;
  padding: 0;
  font-size: 9pt;
  font-weight: 500;
  /*color: var(--secondary-color);*/
}

#toolbar .menu button {
  display: block;
  clear: both;
}

#new-grid-custom {
  display:inline !important;
}

#new-grid-custom:after {
  min-width: 50px !important;
}

#custom-grid-form {
  margin: 0px 0px 0px 60px;
  display: inline;
}

#custom-grid-form input {
  width: 35px;
}

#toolbar .menu button:after {
  content: attr(data-tooltip);
  margin: 0px 0 4px -8px;
  padding: 8px 4px 9px 8px;
  min-width: 160px;
  text-align: left;
  border-radius: 4px;
  /*color: var(--secondary-color);*/
  font-size: 9pt;
  position: absolute;
  left: 110%;
  top: 0;
  white-space: nowrap;
}

#toolbar #toggle-special-menu button:after {
  min-width: 90px;
}

#toolbar .menu button:hover:after {
  color: inherit;
  background: var(--highlight-color);
}

.clue {
  margin: 0;
  padding: 0;
  font-size: 12pt;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.clue-number {
}

.editable:hover {
  background-color: var(--highlight-color);
}

.editable:focus {
  outline: none;
  border-bottom: 2px solid var(--highlight-border-color);
}

.half-sidebar {
  height: 50%;
}

.label {
  font-size: 8pt;
  font-weight: 500;
  position: absolute;
  left: 2px;
  top: 0px;
}

#matches-charts {
  float: left;
  height: 550px;
}

#matches-charts .chart {
  display: block;
  border-top: 1px solid var(--background-color);
}

#matches-charts .chart.highlight {
  border-top: 1px solid var(--highlight-border-color);
}

#stats {
  float: left;
  margin-left: 8px;
}

#stats .chart {
  float: left;
}

#stats .chart-title {
  text-align: left;
  color: var(--secondary-color);
  font-weight: 300;
  margin-left: 6px;
}

#stats table {
  color: var(--secondary-color);
  font-weight: 300;
  font-size: 12px;
  line-height: 1.42;
}

#stats .stats-number {
  font-family: var(--font-family-mono);
  font-size: 11;
  font-weight: 100;
  vertical-align: bottom;
}

#mobile-keyboard {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--highlight-mono-color);
  flex-shrink: 0;
  height: 30vw;
  position: absolute;
  bottom: 0px;
  border-radius: 0px;
}

#mobile-keyboard .row {
  display: flex;
  justify-content: center;
}

#mobile-keyboard .key {
  height: 10vw;
  width: 10vw;
  line-height: 10vw;
  text-align: center;
  vertical-align: middle;
  background-color: var(--background-color);
  border-radius: 20px;
}

.rebus {
  font-size: 6px;
  transform: scale(1.2, 3);
  font-weight: 500;
}

#enter-rebus-menu h4 {
  display: inline;
}

#enter-rebus-form {
  margin-left: 10px;
  display: inline;
}

.rebus-input {
  text-transform: uppercase;
}

.circle {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border: 1px solid var(--primary-color);;
  position: absolute;
  top: -1px;
  left: -1px;
}

.shade {
  background-color: var(--shade-color);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

@media (hover: hover) and (pointer: fine) {
  body {
    width: auto;
  }
  #mobile-keyboard {
    display: none;
  }
  #grid-container {
    width: auto;
    float: left;
    margin-bottom: 10px;
  }
  #grid td {
    width: 35px;
    height: 36px;
    position: relative;
    border-left: 1px solid var(--grid-border-color);
    border-top: 1px solid var(--grid-border-color);
    padding-top: 6px;
  }
  .circle {
    width: 37px;
    height: 35px;
  }
  .shade {
    width: 37px;
    height: 35px;
  }
}

@media not all and (hover: hover) and (pointer: fine) {
  #stats {
    display: none;
  }
  #matches-charts {
    display: none;
  }
  @media screen and (orientation: portrait) {
    body {
      margin: 0px;
    }
    #header {
      display: none;
    }

/* Test/implement this for beginning of responsive mobile version: */
    /* #grid {
      font-size: 7vw;

      background-color: var(--highlight-mono-color);
      border-style: solid;
      border-color: black;
      border-width: 1px 0px 0px 1px;
      border-collapse: collapse;
    }

    #grid tr {
      display: flex;
      justify-content: center;
    }

    #grid td {
      height: 10vw;
      width: 10vw;
      position: relative;
      line-height: 12vw;
      text-align: center;
      background-color: var(--background-color);
      border-style: solid;
      border-color: black;
      border-width: 0px 1px 1px 0px;
      overflow: hidden;
    } */

    #grid td {
      width: 15px;
      height: 17px;
      position: relative;
      border-left: 1px solid var(--grid-border-color);
      border-top: 1px solid var(--grid-border-color);
      padding-top: 4px;
      font-size: 8px;
    }
    .circle {
      width: 17px;
      height: 16px;
    }
    .shade {
      width: 17px;
      height: 16px;
    }
    .label {
      font-size: 5px;
      left: 1px;
    }
    .rebus {
      font-size: 3px;
      transform: scale(1.2, 2);
      font-weight: 500;
    }
    #toolbar button {
      width: 27px;
      height: 27px;
    }
    .clue {
      margin: 0;
      padding: 0;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: -0.03em;
    }
    #sidebar {
      width: 85vw;
      height: 30vh;
      font-size: 10px;
      /* float: none; */
      margin-left: 0px;
    }
    .half-sidebar {
      height: 100%;
      display: inline-block;
      width: 48%;
      vertical-align: top;
    }
  }
}
